
*{
    box-sizing: border-box;
}
footer {
    background-color: black;
    color: white;
    }
/* #cover {
    display: flex;
    justify-content: center;
    padding: 10px; */

#cover img{
    display: flex;
    justify-content: center;
    width: 100%;
    
    bottom: 245
px
;
}
#logo_footer{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px;
    width: 100%;

}


#redes_sociales{
    display: flex;
    justify-content: center;
    padding:25px;
}